.joinCol{
    float: left;
    width: 25%; /* Label寬度，視情況調整 */
    margin-right: 20px;
}
.my-btn{
    margin-top:10px;
    margin-left: 10px;
}
.Size{
    font-size:18px;
}
.theRow{
    margin-left: 15px;
}
