.loginCol{
    float: left;
    width: 25%; /* Label寬度，視情況調整 */
    margin-right: 20px;
}
form{
    margin: auto;
    padding: 0;
    min-width: 500px;
    max-width: 600px;
    width: 560px; 
    position:absolute; height:280px;
    top:0; bottom:0; left:0; right:0;
}
#register{
    padding: 15px;
}