.facePicture{
    cursor: pointer;
}

.gotoUpload{
    position: relative;
    background-color: balck;
    opacity: 0.7;
    height: 25%;
    width: 100%;
    top: -25%;
    cursor: pointer;
    color: white;
}