{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/addClassGroup.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}

<div class="row d-flex justify-content-center">
    <form method="POST" action="{{ url_for('addClassGroup') }}" id='addClassGroupForm' >
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.className.label }} {{ form.className }}
                {% if form.className.errors %}
                    {% for error in form.classNam.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
        </div>
        <div class="form-group">
            {{ form.classYear.label }} {{ form.classYear }}
        </div>
        <div class="form-group">
            {{ form.classDay.label }} {{ form.classDay }}
        </div>
        <div class="form-group">
            {{ form.classStime.label }} {{form.classStime}}
        </div>
        <div class="form-group">
            {{ form.classEtime.label }} {{form.classEtime}}
        </div>
        <div class="row theRow">
            <button href="#" id="addClassGroup" class="btn btn-primary my-btn ">建立班群</button>
        </div>
    </form>
</div>

{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/addClassGroup.js') }}" type="text/javascript"></script>
{% endblock scripts %}