<!-- templates/login.html -->
{% extends "base.html" %}
{% block title %}faceRecog{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/login.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="alert alert-warning" role="alert">
    {% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}
</div>
<div class="container">
    <h1 class="title">登入</h1>
    <form  id="loginForm" method="POST" >
        {{ form.hidden_tag() }}
        <div class="row">
            <p class="loginCol">{{ form.account.label }} {{ form.account }}
                {% if form.account.errors %}
                    {% for error in form.account.errors %}
                        {{ error }}
                    {% endfor %}
                {% endif %}
            </p>
        </div>
        <div class="row">
            <p class="loginCol">{{ form.password.label }} {{ form.password }}</p>
        </div>
        <div class="row">
            <p class="loginCol">{{ form.submit }}</p>
        </div>
    </form>
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/login.js') }}" type="text/javascript"></script>
{% endblock scripts %}