{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/manageClassGroup.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="row d-flex justify-content-center">
    <form >
        {{ form.hidden_tag() }}
        <div class="col-12 col-md-10 col-lg-8 border rounded p-3">
            <div class="form-group">
                <h4>
                    篩選
                </h4>   
            </div>
            <div class="form-group">
                <label for="className">課程名稱:</label>
                {{ form.className }}
            </div>
            <div class="form-group">
                <label for="classYear">學年:</label>
                {{ form.classYear }}
            </div>
            <div class="form-group">
                <label for="classDay">星期:</label>
                {{ form.classDay }}
            </div>
            <div class="form-group d-flex flex-row-reverse">
                <a href="#" id="startFilter" class="btn btn-primary my-btn ">篩選</a>
            </div>
        </div>
    </form>
</div>

<div class="row d-flex justify-content-center">
    <div id="renderClassGroupArea">
    {% for classGroup in classGroupList %}
        <div class="panel panel-primary classGroupPanel" style="width: 18rem;">
            <div class="panel-heading">
                <h5 class="panel-title">{{ classGroup.className }}</h5>
            </div>
            <div class="panel-body">
                <p>學年: {{ classGroup.classYear }}</p>
                <p>星期: {{ classGroup.classDay }}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary my-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        編輯
                    </button>
                    <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="/upload?classId={{ classGroup.id }}">上傳影片</a></li>
                        <li><a class="dropdown-item" href="/videoManage?classId={{ classGroup.id }}">管理影片</a></li>
                        <li><a class="dropdown-item" href="/studentsManage?classId={{ classGroup.id }}">管理學生</a></li>
                        <li><a class="dropdown-item" href="/addClassMember?classId={{ classGroup.id }}">加入學生</a></li>
                    </div>
                    </div>
                <a href="#" id="delete_{{ classGroup.id }}" class="btn btn-primary my-btn" onclick="deleteEvent(id)">刪除</a>
            </div> 
        </div>
    {% endfor %}
    </div>
</div>

{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/manageClassGroup.js') }}" type="text/javascript"></script>
{% endblock scripts %}