{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/pictureManage.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div id="renderPictureArea">
{% for picture in pictureList %}
    <div class="panel panel-primary pucturePanel" style="width: 18rem;">
        <div class="panel-heading">
            <h5 class="panel-title">{{ picture.lastname }}{{ picture.firstname }}</h5>
        </div>
        <div class="panel-body">
            <img src="{{ picture.url }}" alt="Responsive image" class="img-circle pictureManage" id="facePicture_{{ picture.id }}" onclick="clickFacePicture(id)">
        </div> 
    </div>
{% endfor %}
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/pictureManage.js') }}" type="text/javascript"></script>
{% endblock scripts %}