{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/studentsManage.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<form id="filterForm" class="filterArea" method="POST" enctype=multipart/form-data><br>
    {{ form.hidden_tag() }}
    <div>
        <div class="row theRow">
            <p class="Size">
                篩選
            </p>   
        </div>

        <div class="row theRow">
            <p class="">
                姓: 
                {{ form.lastName }}
            </p>   
        </div>
        <div class="row theRow">
            <p class="">
                名: 
                {{ form.firstName }}
            </p>
        </div>
    </div>
    <div class="row theRow">
            <a href="#" id="{{ classId }}" class="btn btn-primary my-btn " onclick="filterEvent(id)">篩選</a>
    </div>
</form>
<div id="renderStudentsArea">
{% for student in studentsList %}
    {% if student.isDataComplete %}
        <div class="card card-primary studentPanel" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ student.url }}" title = "點選來編輯" alt="Responsive image" class="img-circle studentManage" id="facePicture_{{ student.id }}">
                <h5 class="card-title">{{ student.lastname }}{{ student.firstname }}</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary my-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        功能
                    </button>
                    <div class="dropdown-menu">
                      <li><a class="dropdown-item" href="/studentInfo?studentId={{ student.id }}">查看資料</a></li>
                      <li><a class="dropdown-item" href="/studentVideo?studentId={{ student.id }}&classId={{ classId }}">上課影片</a></li>
                      <li><div class="dropdown-divider"></div></li>
                      <li><a href="#" id="delete_{{ student.id }}" class="btn btn-primary my-btn" onclick="deleteEvent(id)">刪除</a></li>
                    </div>
                </div>
                <a href="#" id="delete_{{ student.id }}" class="btn btn-danger my-btn" onclick="deleteEvent(id)">刪除</a>
            </div> 
        </div>
    {% else %}
        <div class="card card-danger studentPanel" style="width: 18rem;">
            <div class="card-body">
                <img src="{{ student.url }}" title = "點選來編輯" alt="Responsive image" class="img-circle studentManage" id="facePicture_{{ student.id }}">
                <h5 class="card-title">{{ student.lastname }}{{ student.firstname }}</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary my-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        功能
                    </button>
                    <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="/studentInfo?studentId={{ student.id }}">查看資料</a></li>
                        <li><a class="dropdown-item" href="/studentVideo?studentId={{ student.id }}&classId={{ classId }}">上課影片</a></li>
                        <li><div class="dropdown-divider"></div></li>
                        <li><a href="#" id="delete_{{ student.id }}" class="btn btn-danger my-btn" onclick="deleteEvent(id)">刪除</a></li>
                    </div>
                </div>
                <a href="#" id="delete_{{ student.id }}" class="btn btn-danger my-btn" onclick="deleteEvent(id)">刪除</a>
            </div> 
        </div>
    {% endif %}
       
{% endfor %}
<button class="btn btn-primary addMember-btn" id="{{ classId}}" onclick='addClassMember(id)'>加入學生</button>
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/studentsManage.js') }}" type="text/javascript"></script>
{% endblock scripts %}