{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/studentsManage.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="row d-flex justify-content-center">
    <form id="filterForm" method="POST" enctype="multipart/form-data" class="col-12 col-md-10 col-lg-8 border rounded p-3">
        {{ form.hidden_tag() }}
        <h4>篩選</h4>
        <div class="form-group">
            <lable for="lastName">姓</lable>{{ form.lastName }} 
        </div>
        <div class="form-group"></div>
            <lable for="lastName">名</lable> {{ form.firstName }}
        </div>
        <div class="form-group d-flex flex-row-reverse">
            <a href="#" id="{{ classId }}" class="btn btn-primary my-btn" onclick="filterEvent(id)" >篩選</a>
        </div>
    </form>
</div>

<div id="renderStudentsArea" class="row d-flex justify-content-center">
{% for student in studentsList %}
    {% if student.isDataComplete %}
        <div class="card card-primary studentPanel col-12 col-md-5 col-lg-3">
            <div class="card-body">
                <img src="{{ student.url }}" title = "點選來編輯" alt="Responsive image" class="img-circle studentManage" id="facePicture_{{ student.id }}">
                <h5 class="card-title">{{ student.lastname }}{{ student.firstname }}</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary my-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        功能
                    </button>
                    <div class="dropdown-menu">
                      <li><a class="dropdown-item" href="/studentInfo?studentId={{ student.id }}">查看資料</a></li>
                      <li><a class="dropdown-item" href="/studentVideo?studentId={{ student.id }}&classId={{ classId }}">上課影片</a></li>
                    </div>
                </div>
                <a href="#" id="delete_{{ student.id }}" class="btn btn-danger my-btn" onclick="deleteEvent(id)">刪除</a>
            </div> 
        </div>
    {% else %}
        <div class="card card-danger studentPanel col-12 col-md-5 col-lg-3">
            <div class="card-body">
                <img src="{{ student.url }}" title = "點選來編輯" alt="Responsive image" class="img-circle studentManage" id="facePicture_{{ student.id }}">
                <h5 class="card-title">{{ student.lastname }}{{ student.firstname }}</h5>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary my-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        功能
                    </button>
                    <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="/studentInfo?studentId={{ student.id }}">查看資料</a></li>
                        <li><a class="dropdown-item" href="/studentVideo?studentId={{ student.id }}&classId={{ classId }}">上課影片</a></li>
                    </div>
                </div>
                <a href="#" id="delete_{{ student.id }}" class="btn btn-danger my-btn" onclick="deleteEvent(id)">刪除</a>
            </div> 
        </div>
    {% endif %}
       
{% endfor %}
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/studentsManage.js') }}" type="text/javascript"></script>
{% endblock scripts %}