<!-- templates/login.html -->
{% extends "base.html" %}
{% block title %}faceRecog{% endblock %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/flexslider.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/studentInfo.css') }}" rel="stylesheet">
    
{% endblock %}
{% block page_content %}
<div class="row d-flex justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 border rounded p-3">
        <div class="row d-flex justify-content-center">
            <div class="flexslider col-10 col-md-8 col-lg-4">
                <ul class="slides">
                    {% if 'face' in faceUrlDic.keys() %}
                        <li><img src="{{ faceUrlDic['face'] }}" alt="" width="350" height="250"></li>
                    {% else %}
                        <li><img src="/upload/others/img_avatar.jpg" alt="" width="350" height="250"></li>
                    {% endif %}
                    {% if 'left_face' in faceUrlDic.keys() %}
                        <li><img src="{{ faceUrlDic['left_face'] }}" alt="" width="350" height="250"></li>
                    {% else %}
                        <li><img src="/upload/others/img_avatar.jpg" alt="" width="350" height="250"></li>
                    {% endif %}
                    {% if 'right_face' in faceUrlDic.keys() %}
                        <li><img src="{{ faceUrlDic['right_face'] }}" alt="" width="350" height="250"></li>
                    {% else %}
                        <li><img src="/upload/others/img_avatar.jpg" alt="" width="350" height="250"></li>
                    {% endif %}

                    {% if 'up_face' in faceUrlDic.keys() %}
                        <li><img src="{{ faceUrlDic['up_face'] }}" alt="" width="350" height="250"></li>
                    {% else %}
                        <li><img src="/upload/others/img_avatar.jpg" alt="" width="350" height="250"></li>
                    {% endif %}
                    {% if 'down_face' in faceUrlDic.keys() %}
                        <li><img src="{{ faceUrlDic['down_face'] }}" alt="" width="350" height="250"></li>
                    {% else %}
                        <li><img src="/upload/others/img_avatar.jpg" alt="" width="350" height="250"></li>
                    {% endif %}
                </ul>
                <div id="gotoUpload" class="gotoUpload">
                    <a href="/upload">編輯照片</a>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-between p-3">
            <h4>個人資料</h4>
            {% if canEdit %}
            <button type="button" class="btn btn-outline-info" id="btnEditInfo">編輯資料</button>
            <button type="button" class="btn btn-outline-danger" id="btnCancelEditInfo" style="display: none;">取消編輯資料</button>
            {% endif%}
        </div>

        <table style="width: 100%;" class="table table-hover table-striped">
            <tr>
                <th style="text-align: center;">
                    姓名
                </th>
                <td id="infoName">
                    <span>{{ student.lastname }}{{ student.firstname }}</span>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">
                    學號
                </th>
                <td id="infoAccount">
                    <span>{{ student.account }}</span>
                </td>
            </tr>
            <tr>
                <th style="text-align: center;">
                    信箱
                </th>
                <td id="infoEmail">
                    <span>{{ student.email }}</span>
                </td>
            </tr>
        </table>
        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" id="btnSubmitInfo" style="display: none;">修改資料</button>
        </div>

        {% if canEdit %}
        <div class="d-flex justify-content-between p-3">
            <h4>修改密碼</h4>
            {% if canEdit %}
            <button type="button" class="btn btn-outline-info" id="btnEditPassword">編輯密碼</button>
            <button type="button" class="btn btn-outline-danger" id="btnEditCancelPassword" style="display: none;">取消編輯密碼</button>
            {% endif%}
        </div>
        <div id="editPassword" style="display: none;">
            <div class="form-group">
                <label>目前的密碼</label><input class="form-control" />
            </div>
            <div class="form-group">
                <label>新密碼</label><input id="newPassword" class="form-control" />
            </div>
            <div class="form-group">
                <label>再次輸入新密碼</label><input id="newPasswordConfirm" class="form-control" />
                <span id="newPasswordConfirmMsg" class="text-danger"></span>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary" id="btnSubmitEditPassword">修改密碼</button>
            </div>
        </div>
        {% endif%}
    </div>
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/jquery.flexslider.js') }}" type="text/javascript"></script>

{% if canUserEdit %}
<script src="{{ url_for('static', filename = 'javascript/studentInfoUser.js') }}" type="text/javascript"></script>
{% endif%}

{% if canManagerEdit %}
<script src="{{ url_for('static', filename = 'javascript/studentInfoManager.js') }}" type="text/javascript"></script>
{% endif%}

{% endblock scripts %}