{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/webuploader/webuploader.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename = 'css/upload.css') }}" rel="stylesheet">
{% endblock %}

{% block page_content %}
<div id= "uploadPanel" class="row d-flex justify-content-center">
    {% if current_user.permission == 'manager' %}
    <form method="POST" action="{{ url_for('upload') }}" enctype=multipart/form-data id="uploadForm" class="col-12 col-md-10 col-lg-8 border rounded p-3">
        <h4>上傳影片</h4>
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div id="picker" style="float:left;">請選擇檔案</div>
            <div id="progress" class="progress" style="width:500px;float:left;margin:10px 0 0 20px;">
                <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
            </div>
            <div style="clear:both;"></div>
        </div>
        <div id="picUploadMsg" style="display:none">
            <div class="form-group">
                <label for="lastName">姓</label>
                <input type="text" name="lastName" id="lastName" class="form-control" placeholder="姓"/>
            </div>
            <div class="form-group">
                <label for="firstName">名</label>
                <input type="text" name="firstName" id="firstName" class="form-control" placeholder="名"/>
            </div>
        </div>
        <div id="videoUploadMsg" style="display:none">
            {% if classGroup %}
                <div class="form-group">
                    <label for="className">班級</label>
                    <input type="hidden" name="classId" id="classId" value="{{ classGroup.id }}">
                    <input type="text" name="className" id="className" class="form-control" placeholder="班級" value="{{ classGroup.className }}" readonly/>
                </div>
            {% else %}
                <div class="form-group">
                    <label for="className">班級</label>
                    <input type="text" name="className" id="className" class="form-control" placeholder="班級"/> 
                </div>
            {% endif %}
                <div class="form-group">
                    <label for="className">名稱</label>
                    <input type="text" name="videoName" id="videoName" class="form-control" placeholder="名稱"/> 
                </div>
                <div class="form-group">
                    <label for="className">日期</label>
                    <input type="date" name="dateTime" id="dateTime" class="form-control" placeholder="日期"/>
                </div>
                <div class="form-group">
                    <label for="className">時間</label>
                    <select name="classNo" id="classNo" class="form-control">
                        <option value="1">第一節</option>
                        <option value="2">第二節</option>
                        <option value="3">第三節</option>
                        <option value="4">第四節</option>
                        <option value="5">第五節</option>
                        <option value="6">第六節</option>
                        <option value="7">第七節</option>
                        <option value="8">第八節</option>
                        <option value="9">第九節</option>
                    </select>
                </div>
        </div>
        <div class="form-group d-flex flex-row-reverse">
            <a href="#" class="btn btn-primary my-btn" id="confirm">上傳</a>
        </div>
    </form>
    {% else %}
        <form method="POST" action="{{ url_for('upload') }}" enctype="multipart/form-data" id="uploadForm" class="col-12 col-md-10 col-lg-8 border rounded p-3">
            {{ form.hidden_tag() }}
            {% if not isFaceExit %}
                <div class="form-group">
                {{ form.face.label }}{{ form.face }}
                        {% for error in form.face.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                </div>
            {% else %}
                <div class="form-group">
                    {{ form.face.label }}照已經上傳
                    <button type="button" data-toggle="collapse" data-target="#formFace" aria-expanded="false" aria-controls="formFace" class="btn btn-outline-info m-1" >修改</button>
                    {% for error in form.face.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group collapse" id="formFace">
                    {{ form.face }}
                </div>
            {% endif %}

            {% if not isLeftFaceExit %}
                <div class="form-group">
                    {{ form.leftFace.label }}{{ form.leftFace }}
                        {% for error in form.leftFace.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                </div>
            {% else %}
                <div class="form-group">
                    {{ form.leftFace.label }}照已經上傳
                    <button type="button" data-toggle="collapse" data-target="#formLeftFace" aria-expanded="false" aria-controls="formLeftFace" class="btn btn-outline-info m-1" >修改</button>
                    {% for error in form.face.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group collapse" id="formLeftFace">
                    {{ form.leftFace }}
                </div>
            {% endif %}

            {% if not isRightFaceExit %}
            <div class="form-group">
                {{ form.rightFace.label }}{{ form.rightFace }}
                    {% for error in form.rightFace.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            </div>
            {% else %}
                <div class="form-group">
                    {{ form.rightFace.label }}照已經上傳
                    <button type="button" data-toggle="collapse" data-target="#formRightFace" aria-expanded="false" aria-controls="formRightFace" class="btn btn-outline-info m-1" >修改</button>
                    {% for error in form.face.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group collapse" id="formRightFace">
                    {{ form.rightFace }}
                </div>
            {% endif %}

            {% if not isUpFaceExit %}
            <div class="form-group">
                {{ form.upFace.label }}{{ form.upFace }}
                    {% for error in form.upFace.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            </div>
            {% else %}
                <div class="form-group">
                    {{ form.upFace.label }}照已經上傳
                    <button type="button" data-toggle="collapse" data-target="#formUpFace" aria-expanded="false" aria-controls="formUpFace" class="btn btn-outline-info m-1" >修改</button>
                    {% for error in form.face.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group collapse" id="formUpFace">
                    {{ form.upFace }}
                </div>
            {% endif %}

            {% if not isDownFaceExit %}
            <div class="form-group">
                {{ form.downFace.label }}{{ form.downFace }}
                    {% for error in form.downFace.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
            </div>
            {% else %}
                <div class="form-group">
                    {{ form.downFace.label }}照已經上傳
                    <button type="button" data-toggle="collapse" data-target="#formDownFace" aria-expanded="false" aria-controls="formDownFace" class="btn btn-outline-info m-1" >修改</button>
                    {% for error in form.face.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-group collapse" id="formDownFace">
                    {{ form.downFace }}
                </div>
            {% endif %}
            <div class="form-group d-flex flex-row-reverse">
                <a href="#" class="btn btn-primary my-btn" id="confirm">上傳</a>
            </div>
        </form>
    {% endif %}
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/webuploader/webuploader.min.js') }}" type="text/javascript"></script>
<script src="{{ url_for('static', filename = 'javascript/upload.js') }}" type="text/javascript"></script>
{% endblock scripts %}