{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/videoManage.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
{% if form %}
<div class="row d-flex justify-content-center">
    <form id="filterForm" method="POST" enctype="multipart/form-data" class="col-12 col-md-10 col-lg-8 border rounded p-3">
        {{ form.hidden_tag() }}
        <h4>
            篩選
        </h4>

        <div class="form-group">
            <label for="lastName">姓</label>
            {{ form.lastName }}
        </div>
        <div class="form-group">
            <label for="firstName">名</label>
            {{ form.firstName }}
        </div>
        <div class="form-group">
            <label>日期</label>
            {{ form.sdate }} ~  {{ form.edate }}
        </div>
        <div class="form-group">
            <label for="classNo">節數</label>
            {{ form.classNo }}
        </div>
        <div class="form-group d-flex flex-row-reverse">
            <a href="#" id="{{ classId }}" class="btn btn-primary my-btn" onclick="filterEvent(id)">篩選</a>
        </div>
    </form>
</div>
{% endif %}
<div class="row d-flex justify-content-center" id="renderVideoArea">
        {% for video in videoData %}
            {% if video.isRecoged == 1 %}
                <div class='card col-12 col-md-5 col-lg-3' id="card_{{video.id}}" onclick='CardClickedEvent(id)'>
                    <div class="card-header">{{video.date}}</div>
                    {% if video.videoUrl%}
                        <img src="{{video.videoUrl}}" alt='Avatar' style='width:100%;opacity:0.85'>
                    {% else %}
                        <img src="/upload/others/img_avatar.jpg" alt='Avatar' style='width:100%;opacity:0.85'>
                    {% endif %}
                    <div class='container'>
                        <p>第{{video.classNo}}節</p>  
                    </div>
                </div>  
            {% elif video.isRecoged == 2 %}
                <div class='card col-12 col-md-5 col-lg-3 text-white bg-warning' id="card_{{video.id}}" onclick='CardClickedEvent(id)'>
                    <div class="card-header">{{video.date}} (辨識中)</div>
                    {% if video.videoUrl%}
                        <img src="{{video.videoUrl}}" alt='Avatar' style='width:100%;opacity:0.85'>
                    {% else %}
                        <img src="/upload/others/img_avatar.jpg" alt='Avatar' style='width:100%;opacity:0.85'>
                    {% endif %}
                    <div class='container'>
                        <p>第{{video.classNo}}節</p>  
                    </div>
                </div>
            {% else %}
                <div class='card col-12 col-md-5 col-lg-3 text-white bg-danger' id="card_{{video.id}}">
                    <div class="card-header">{{video.date}} (尚未辨識)</div>
                    {% if video.videoUrl%}
                        <img src="{{video.videoUrl}}" id="img_{{video.id}}" alt='Avatar' style='width:100%;opacity:0.85'  onclick='CardClickedEvent(id)'>
                    {% else %}
                        <img src="/upload/others/img_avatar.jpg" id="img_{{video.id}}" alt='Avatar' style='width:100%;opacity:0.85'  onclick='CardClickedEvent(id)'>
                    {% endif %}
                    <div class='container'>
                        <p>第{{video.classNo}}節</p>  
                        <button class="btn btn-primary my-btn" id="{{video.id}}" onclick="pustInRecogQueue(id)">執行辨識</button>
                    </div>
                </div>
            {% endif %} 
        {% endfor %}
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/videoManage.js') }}" type="text/javascript"></script>
{% endblock scripts %}