{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/videoManage.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div>
    <form id="filterForm" class="filterArea" method="POST" enctype=multipart/form-data><br>
        {{ form.hidden_tag() }}
        <div>
            <div class="row theRow">
                <p class="Size">
                    篩選
                </p>   
            </div>
            <div class="row theRow">
                <p class="">
                    姓: 
                    {{ form.lastName }}
                </p>   
            </div>
            <div class="row theRow">
                <p class="">
                    名: 
                    {{ form.firstName }}
                </p>
            </div>
            <div class="row theRow">
                <p class="">
                    日期: 
                    {{ form.sdate }} ~  {{ form.edate }}
                </p>
            </div>
            <div class="row theRow">
                節數: 
                {{ form.classNo }}
            </div>
        </div>
        <div class="row theRow">
                <a href="#" id="startFilter" class="btn btn-primary my-btn ">篩選</a>
        </div>
    </form>
</div>
<div id="renderVideoArea">
    {% for video in videoData %}
        {% if video.is_recoged == 1 %}
            <div class='card' id="card_{{video.id}}" style='width:92%;max-width:300px;' onclick='CardClickedEvent(id)'>
                <div class="card-header">{{video.date}}</div>
                {% if video.videoUrl%}
                    <img src="{{video.videoUrl}}" alt='Avatar' style='width:100%;opacity:0.85'>
                {% else %}
                    <img src="/upload/others/img_avatar.jpg" alt='Avatar' style='width:100%;opacity:0.85'>
                {% endif %}
                <div class='container'>
                    <p>第{{video.classNo}}節</p>  
                </div>
            </div>
        {% elif video.is_recoged == 2 %}
            <div class='card text-white bg-warning' id="card_{{video.id}}" style='width:92%;max-width:300px;' onclick='CardClickedEvent(id)'>
                <div class="card-header">{{video.date}} (辨識中)</div>
                {% if video.videoUrl%}
                    <img src="{{video.videoUrl}}" alt='Avatar' style='width:100%;opacity:0.85'>
                {% else %}
                    <img src="/upload/others/img_avatar.jpg" alt='Avatar' style='width:100%;opacity:0.85'>
                {% endif %}
                <div class='container'>
                    <p>第{{video.classNo}}節</p>  
                </div>
            </div>
        {% else %}
            <div class='card text-white bg-danger' id="card_{{video.id}}" style='width:92%;max-width:300px;'>
                <div class="card-header">{{video.date}} (尚未辨識)</div>
                {% if video.videoUrl%}
                    <img src="{{video.videoUrl}}" id="img_{{video.id}}" alt='Avatar' style='width:100%;opacity:0.85'  onclick='CardClickedEvent(id)'>
                {% else %}
                    <img src="/upload/others/img_avatar.jpg" id="img_{{video.id}}" alt='Avatar' style='width:100%;opacity:0.85'  onclick='CardClickedEvent(id)'>
                {% endif %}
                <div class='container'>
                    <p>第{{video.classNo}}節</p>  
                    <button class="btn btn-primary my-btn" id="{{video.id}}" onclick="pustInRecogQueue(id)">執行辨識</button>
                </div>
            </div>
        {% endif %} 
    {% endfor %}
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/videoManage.js') }}" type="text/javascript"></script>
{% endblock scripts %}