{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link href="{{ url_for('static', filename = 'css/videoEdit.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="">
    <video class="col-12 col-md-10 col-lg-8 p-0 mt-3 videoPanel" controls>
        <source src="{{ editVideo.videoUrl }}" type="video/mp4">
            Your browser does not support the video tag.
    </video>
    <div class="row theRow editPanel" id="videoPanel">
    </div>
</div>
{% endblock page_content %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename = 'javascript/videoEdit.js') }}" type="text/javascript"></script>
{% endblock scripts %}